/* Universal selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Type selectors */
body {
 
}

header {
    font-family: 'BeVietnamPro', sans-serif;
    padding: 1%;
    border-bottom: 1px solid #d9dcd6;
}

/* Burger menu: followed WC3Schools tutorial and adapted for desktop */
.topnav {
    overflow: visible;
    background-color: white ;
    position: relative;
    font-family: 'BeVietnamPro', sans-serif;
}
      
.topnav #myLinks {
    display: inline;
}
      
.topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: inline;
}
      
.topnav a.icon {
    background: white;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
}
      
.topnav a:hover {
    background-color: #d9dcd6;
    color: black;
}
      
.active {
    background-color: white;
    color: white;
}


a {
    color: black;
    font-family: 'BeVietnamPro', sans-serif;
    font-weight: 600;
}

p {
    font-family: 'NotoSerif', serif;
    font-weight: 200;
    font-size: 22px;
    line-height: 32px;
}

h1 {
    font-family: 'BeVietnamPro', sans-serif;
    font-size: 36px;
    font-weight: 800;
    color: black;
    letter-spacing: 25px;
    text-align: center;
    display: inline;
}

h2 {
    font-family: 'BeVietnamPro', sans-serif;
    font-size: 36px;
    font-weight: 800;
    color: black;
    text-align: left;
    display: block;
}

h3 {
    font-family: 'BeVietnamPro', sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: white;
    text-align: center;
    display: inline;
}

h4 {
    font-size: 20px;
}

footer {
    background-color: black;
    color: white;
    bottom: 0px;
    width: 100%;
    height: 300px;
    padding: 5% 5% 14% 14%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

footer a{
    font-family: 'BeVietnamPro', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

/* Class selectors */
.intro-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

.intro {
    padding: 7% 10%;
    height: 300px;
}

.vertical-line {
    border-left: 2px solid black;
    height: 100px;
    position: relative;
    top: 50px;
    left: 50%;
    margin-left: -3px;
  }


.gallery-container {
    flex: 1 0 0;
    margin: 0 2%;
    padding: 0 8%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery img {
    width: 50%;
}

.hero img {
    width: 100%;
}

.about-container {
    padding: 7% 10%;
    margin-bottom: 450px;
    height: 300px;
}

.about {
    width: 50%;
    margin: 0 5%;
    display: block;
}


img.profile-pic {
    border-radius: 50%;
    width: 150px;
}

/* Id selectors */
#subhead {
    font-family: 'NotoSerif', serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 10px;
    line-height: 35px;
    text-align: center;
}

#hive {
    color: rgb(255, 217, 0);
}



/* Media query: tablet */
@media only screen and (max-width: 768px) {
/* Burger menu: followed WC3Schools tutorial and restyled it */
  .topnav {
    overflow: hidden;
    background-color: white ;
    position: relative;
    font-family: 'BeVietnamPro', sans-serif;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #d9dcd6;
    color: black;
  }
  
  .active {
    background-color: white;
    color: white;
  }
}
/* End of burger menu */

/* Media query: mobile */
@media only screen and (max-width: 480px) {
/* Burger menu: followed WC3Schools tutorial and restyled it */
  .topnav {
    overflow: hidden;
    background-color: white ;
    position: relative;
    font-family: 'BeVietnamPro', sans-serif;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
    display: block;
  }
  
  .topnav a.icon {
    background: white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #d9dcd6;
    color: black;
  }
  
  .active {
    background-color: white;
    color: white;
  }
  /* End of burger menu */

    .hero {
        background-image: url('../assets/images/WomenOfFaith_sm.jpg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    h1 {
        font-size: 18px;
        letter-spacing: 8px;
    }

    .intro {
        padding: 7% 10%;
        height: 150px;
    }

    footer {
        display: block;
        line-height: 60px;
    }

    .intro {
        height: 0px;
        padding: 70px 0px;
    }

    #subhead {
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 3px;
        line-height: 15px;
        text-align: center;
    }

    .vertical-line {
        height: 30px;
        top: 15px;
        border-left: 1px solid black;
    }

    .gallery img {
        width: 100%;
    }


    .about {
        width: 100%;
    }

}