/* Universal selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Type selectors */
body {
 
}

header {
    padding: 20px;
    font-family: 'BeVietnamPro', sans-serif;
    border-bottom: 1px solid #d9dcd6;
}

nav {
    margin-right: 20px;
    padding-top: 3px;
    float: right;
    font-family: 'BeVietnamPro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: black;
    text-decoration: none;
}

p {
    font-family: 'NotoSerif', serif;
    font-weight: 200;
    font-size: 20px;
    line-height: 32px;
}

h1 {
    font-family: 'BeVietnamPro', sans-serif;
    font-size: 36px;
    font-weight: 800;
    color: black;
    letter-spacing: 25px;
    text-align: center;
    display: inline;
}

h2 {
    font-family: 'BeVietnamPro', sans-serif;
    font-size: 36px;
    font-weight: 800;
    color: black;
    text-align: left;
    display: block;
}

h3 {
    font-family: 'BeVietnamPro', sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: white;
    text-align: center;
    display: inline;
}

h4 {
    font-size: 20px;
}

footer {
    background-color: black;
    color: white;
    bottom: 0px;
    width: 100%;
    height: 300px;
    padding: 5% 5% 14% 14%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

footer a{
    font-family: 'BeVietnamPro', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

/* Class selectors */
.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

.intro {
    padding: 7% 10%;
    height: 300px;
}

.vertical-line {
    border-left: 2px solid black;
    height: 100px;
    position: relative;
    top: 50px;
    left: 50%;
    margin-left: -3px;
  }

.hero-container {
    flex: 1 0 0;
    margin: 0 2%;
    padding: 0 8%;
}

.hero {
    height: 800px;
    width: 100%;
    background-image: url('../assets/images/tempHero.jpg');
    background-size: cover;
    display: block;
}

.gallery-container {
    flex: 1 0 0;
    margin: 0 2%;
    padding: 0 8%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery img {
    width: 50%;
}

.about-container {
    padding: 7% 10%;
    margin-bottom: 450px;
    height: 300px;
}

.about {
    width: 50%;
    margin: 0 5%;
    display: block;
}


img.profile-pic {
    border-radius: 50%;
    width: 150px;
}

/* Id selectors */
#subhead {
    font-family: 'NotoSerif', serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 10px;
    line-height: 35px;
    text-align: center;
}


/* Media queries */
@media only screen and (max-width: 768px) {

  }

@media only screen and (max-width: 480px) {
    
    h1 {
        font-size: 24px;
        letter-spacing: 15px;
    }

    footer {
        display: block;
        line-height: 60px;
    }

    .intro {
        height: 210px;
    }

    .vertical-line {
        height: 50px;
        top: 25px;
    }

    .gallery img {
        width: 100%;
    }


    .about {
        width: 100%;
    }

}